<nav>
  <a class="nav-logo" href="index.html">
    <img class="nav-logo-img" src="logo-ksh.png" alt="kshiiteej">
    <span class="nav-brand">kshiiteej</span>
  </a>
  <div class="nav-links">
    <a class="nav-link" href="index.html"      data-page="home">home</a>
    <a class="nav-link" href="kshiiteej.html"  data-page="kshiiteej">kshiiteej</a>
    <a class="nav-link" href="dagad.html"      data-page="dagad">dagad</a>
    <a class="nav-link" href="contact.html"    data-page="contact">contact</a>
  </div>
</nav>
